<h1>Woops, there was an error, no bus locations could be found. Please try again</h1>
<h1>Search bus</h1>
<form action= "/map" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">

</form>
