<h1>Search bus</h1>
<form action= "/tfl" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
    
</form>
<h1>Search bus stop</h1>
<form action= "/map" method="GET">
    <input type="text" placeholder="search term" name="stop">
    <input type="submit">
    
</form>