<a href="/">Search again</a>

<% var set = []%>
<% data.forEach(function(item){ %>
<% set.push(item["commonName"]) %>
<% }) %>
<% set=set.filter((a,i)=>i==set.indexOf(a)) %>
<% set.forEach(function(item){ %>
    <li><%=item%> </li>
<% }) %>

    

   
   

