

<a href="/">Search again</a>



<% var set = []%>
<% data.forEach(function(item){ %>
<% set.push(item["commonName"]) %>
<% }) %>
<% set=set.filter((a,i)=>i==set.indexOf(a)) %>
<% set.forEach(function(item){ %>
<%String(item)%>
    <li><a href="https://maps.googleapis.com/maps/api/geocode/json?address="+ <%item%> +"London+UK&AIzaSyAy7pE9UvY-M1mENT3ER49LyOjztju6wIs"><%=item%></a> </li>
<% }) %>


    
   


