<a href="/">Search again</a>

<ul id="items">
<% data.forEach(function(link){ %>
    <li><a data-lat="<%= link.lat %>" data-lon="<%= link.lon %>" href="<%= link.href %>"><%= link.name %></a></li>
<% }) %>
</ul>

<script>
    document.getElementById('items').addEventListener('click', function(event){
        event.preventDefault()
        
        let el = event.target
        let lat = el.getAttribute('data-lat')
        let lon = el.getAttribute('data-lon')
        console.log('latlon', el, lat, lon)
      });
    
</script>


